:root {
--text: #000000;
--background: #c7c7c7;
--primary: #a5a1a1;
--secondary: #ffffff;
--accent: #df2020;
}

body   { background-color: var(--accent);
        font-family: Arial, Helvetica, sans-serif;
        color: var(--text); 
}
#trapezoid{
        border-top: 75px solid var(--accent);
	border-left: 300px solid transparent;
	border-right: 300px solid transparent;
}
#wrapper { 
        background-image: linear-gradient(to 
	   bottom, #ffffff, #c7c7c7);       
}

#indexhero {
        height: 240px;
        background-image: url(nintendo-2-logo-png-transparent.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
}
.button {
        background-image: url(Warp.png);
        background-size: 200px;
        width: 200px;
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-position: bottom;
        text-decoration: none;
        border-style: none;
        cursor: pointer;
        background-color: #ffffff;
        margin-top: 350px;
        transition-duration: 0.2s;
        

}
.button:hover {
        transform: scale(1.1, 0.9);
} 
#earlyhero {
        height: 500px;
        background-image: url(cards.jpg);
        background-repeat: no-repeat;
        background-size: 25%;
        background-position: right;
        margin-right: 15%
}
#eighthero {
        height: 300px;
        background-repeat: no-repeat;
        background-size: 100%;
        
}
#ninteyhero {
        height: 300px;
        background-repeat: no-repeat;
        background-size: 100%;
        
}

h1     {
        font-size: xx-large;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        padding-bottom: 0.5em;
        margin-top: -58px;
        margin-bottom: 0%;
}
h1 a   {
        text-decoration: none
}
h1 :visited {
        color: var(--text);

}
h1 :link   {
        color: var(--text);
}
h1 :hover  {
        color: #ffffff;
        text-shadow: 1px 1px 3px #2d0606; 
}

nav    { 
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 120%;
        padding: 1%;
        text-align: center;
        
}
nav ul {
        margin: 0;
        font-size: 1.2em;
        list-style-type: none;
}
nav a  { text-decoration: none; 
}
nav :link{
        color:#eeff00; 
}
nav :visited{
        color: var(--text);
}
nav :hover{
        color: var(--accent);   
}

h2     { color: var(--accent); 
        text-shadow: 1px 1px 1px var(--primary);
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-size: xx-large;

}

h3     {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: var(--text);
        text-align: center;
}      

h4 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: var(--text);
        text-align: center;
        font-style: italic;
        opacity: 50%;
}

p {
        text-align: center;
        margin-bottom: 0px;
        
}

.column {
        float: left;
        padding: 50px;
        padding-top: 0%;
        margin-top: 20px;
}
.left{
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
        border-top-right-radius: 10%;
        border-bottom-right-radius: 10%;
        border-style: solid;
        border-color: var(--accent);
        box-shadow: 1px 1px 10px var(--accent);
        width: 48%;
        box-sizing: border-box;
        margin-left: 1%;
        margin-right: 0.5%;
        padding-bottom: 0px;
}
.right{
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
        border-top-right-radius: 10%;
        border-bottom-right-radius: 10%;
        border-style: solid;
        border-color: var(--accent);
        box-shadow: 1px 1px 10px var(--accent);
        width: 49%;
        box-sizing: border-box;
        margin-right: 1%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

footer  {font-size: 75%;
        background-color: #c7c7c77c;
        font-style: italic;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 2em;
}

dt      { color: #09ff15; }
div     {font-size: 90%;}
.high { color: #ff0000;
        font-weight: bold;
}

