
:root {
--text: #000000;
--background: #c7c7c7;
--primary: #a5a1a1;
--secondary: #ffffff;
--accent: #df2020;
}
#wrapper { 
        background-color: var(--background);
        
}
#indexhero {
        height: 300px;
        background-image: url(nintendo-2-logo-png-transparent.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        
}
#eighthero {
        height: 300px;
        background-repeat: no-repeat;
        background-size: 100%;
        
}
#ninteyhero {
        height: 300px;
        background-repeat: no-repeat;
        background-size: 100%;
        
}
body   { background-color: var(--accent);
        font-family: Arial, Helvetica, sans-serif;
        color: var(--text); 
}
h1     {
        font-size: xx-large;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin-top: 0%;
        margin-bottom: 0%;
}

h1 a   {
        text-decoration: none
}
h1 :visited {
        color: var(--text);

}
h1 :link   {
        color: var(--text);
}
h1 :hover  {
        color: var(--accent);      

}
#trapezoid{
        border-top: 50px solid var(--accent);
	border-left: 300px solid transparent;
	border-right: 300px solid transparent;
}
.column {
        
        float: left;
        padding: 50px;
        padding-top: 0%;
}
.left{
        border-top-right-radius: 20%;
        border-bottom-right-radius: 20%;
        border-style:solid;
        border-color: var(--primary);
        width: 50%;
        box-sizing: border-box;
}
.right{
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
        border-style:solid;
        width: 50%;
        box-sizing: border-box;
        border-color: var(--primary);
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
nav    { 
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 120%;
        padding: 0;
        text-align: center;
        
}
nav ul {
        margin: 0;
        font-size: 1.2em;
        list-style-type: none;
}
nav a  { text-decoration: none; 
}
nav :link{
        color:#eeff00; 
}
nav :visited{
        color: var(--text);
}
nav :hover{
        color: var(--accent);   
}
main   { display: block;
        overflow: auto;
        background-color: #c7c7c7;
        
        
}
h2     { color: var(--accent); 
        text-shadow: 1px 1px 1px var(--primary);
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-size: xx-large;

}
h3     {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: var(--text);
        text-align: center;
}       
h4 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: var(--text);
        text-align: center;
        font-style: italic;
        opacity: 50%;
}
p {
        text-align: center;
}
footer  {font-size: 75%;
        background-color: #c7c7c77c;
        font-style: italic;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 2em;
}
dt      { color: #09ff15; }
div     {font-size: 90%;}
.high { color: #ff0000;
        font-weight: bold;
}

